#pageIndex {
    background-color: white;
}

#BestSeller {
    text-align: end;
    font-size:  20px;
}
.nomProduit
{
    color: rgba(198, 77, 39, 1);
}
.prixHT {
    text-align: end;
    color: rgba(198, 77, 39, 1);

}
/*la div d'affichage des meilleurs vente*/
#MeilleuresVentes
{
    background-color: #111F35;
}

#imagePartenaire
{
    margin-top: 2%;
}

#partenaire {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}

#picto
{
    margin-top: 1%;
}
#premierProduit
{
    margin-top: 10%;
    margin-bottom: 10%;
}





#pageIndex {
    background-color: white;
}

#BestSeller {
    text-align: end;
    font-size:  20px;
}
.nomProduit
{
    color: rgba(198, 77, 39, 1);
}
.prixHT {
    text-align: end;
    color: rgba(198, 77, 39, 1);

}
/*la div d'affichage des meilleurs vente*/
#MeilleuresVentes
{
    background-color: #111F35;
}

#imagePartenaire
{
    margin-top: 2%;
}

#partenaire {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}

#picto
{
    margin-top: 1%;
}
#premierProduit
{
    margin-top: 10%;
    margin-bottom: 10%;
}

/* hover on products pictures */
/*.hovered {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%; width: 100%;
    opacity: 0; transition: all .3s;
    background-color: #3f3f44;
}

.imageHover:hover .hovered {
    opacity: 0.7;
}

.hovered span {
    color: #FFFFFF;
    font-size: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}*/
/* end */







